body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #196ecf, #1f4fa7, #0d2a50, #202020);
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #333;
}

h1 {
    text-align: center;
    color: #fff;
    margin: 20px 0;
    font-size: 2.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #333;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.panel-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.panel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background: linear-gradient(to bottom, #202020 85%, #333333);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    border: none;
}

.panel:nth-child(1) {
    background: linear-gradient(to bottom, #202020 85%, #333333);
    border-right: solid white;
}

.origin-title, h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input[type="text"] {
    margin: 15px 0;
    padding: 15px;
    width: 90%;
    font-size: 24px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
}

input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
}

input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #00f2fe;
}

select, button {
    margin: 15px 0;
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#amount{
    height: 150px;
    width: 500px;
    background-color: #202020;
    font-size: 35px;
    border-radius: 10px;
    border: 0;
    color: aliceblue;
    text-align: center;
}
#amount::placeholder{
    color:#ccc
}

select:focus, button:focus {
    outline: none;
    border-color: #00f2fe;
    box-shadow: 0 0 10px rgba(0, 242, 254, 0.5);
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#result {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .panel {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    h1 {
        font-size: 1.5em;
    }
}
